@charset "UTF-8";

/* -------------------------------------
 *
 * helper
 *
------------------------------------- */


/* clearfix */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}