@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
}
#headInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 40px;
}

/* logo */
.logo {
  font-size: 6rem;
  text-align: center;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
}

/* main */
#main {
  max-width: $contentsWidth;
  margin: 0 auto;
}


/* filter */
.filter {
  text-align: center;
}
.filter__field {
  padding: 10px;
  border: none;
  border: #ccc 1px solid;
  font-size: 2rem;
}


/* items */
.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 40px;
}
.items__item {
  display: flex;
  width: 33.33333333%;
  margin: 40px 0 0;
  padding: 0 20px;
  box-sizing: border-box;
  @include add-max-query(640px) {
    width: 100%;
  }
}
.items__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-top: #00a5de 4px solid;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}
.items__title {
  flex: 1;
  margin: -20px -20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
.items__title a {
  display: block;
  padding: 20px;
}
.items__tags {
}
.items__tag {
  display: inline-block;
  margin: 5px 5px 0 0;
}
.items__tag a {
  display: inline-block;
  padding: 2px 5px;
  background-color: #eee;
  color: #646464;
  font-size: 1.2rem;
}
.items__date {
  margin: 10px 0 0;
  color: #646464;
  font-size: 1.2rem;
}
.items__url {
  margin: 5px -20px -20px;
  border-top: #eee 1px dotted;
}
.items__url a {
  display: block;
  padding: 10px 20px;
  color: #646464;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* more */
.more {
  margin: 40px 0;
  text-align: center;
}
.more a {
  display: inline-block;
  padding: 15px 40px;
  background-color: #00a5de;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  font-weight: bold;
}