@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
}
#headInner {
  max-width: $contentsWidth;
  margin: 0 auto;
  padding: 40px;
}

/* logo */
.logo {
  font-size: 6rem;
  text-align: center;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
  padding: 0 0 40px;
}

/* main */
#main {
  max-width: $contentsWidth;
  margin: 0 auto;
}


/* items */
.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 40px;
}
.items__item {
  display: flex;
  width: 33.33333333%;
  margin: 50px 0 0;
  padding: 0 25px;
  box-sizing: border-box;
  transition: all .6s;
  @include add-max-query(640px) {
    width: 100%;
  }
}
.items__item.fade-enter {
  // add class by vue.js
  opacity: 0;
  transform: translateY(20px);
}
@for $i from 1 through 20 {
  .items__item:nth-child(20n + #{$i}) {
    transition-delay: $i * .05s;
  }
}
.items__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-top: #00a5de 4px solid;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  transition: all .2s;
  &:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.48);
    transform: translateY(-2px);
  }
}
.items__title {
  flex: 1;
  margin: -20px -20px 0;
  padding: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.items__tags {
}
.items__tag {
  display: inline-block;
  margin: 5px 5px 0 0;
}
.items__tag a,
.items__tag span {
  display: inline-block;
  padding: 2px 5px;
  background-color: #eee;
  color: #646464;
  font-size: 1.2rem;
}
.items__date {
  margin: 10px 0 0;
  color: #646464;
  font-size: 1.2rem;
}
.items__url {
  display: block;
  margin: 5px -20px -20px;
  padding: 10px 20px;
  border-top: #eee 1px dotted;
  color: #646464;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* more */
.more {
  margin: 40px 0;
  text-align: center;
}
.more a,
.more button {
  display: inline-block;
  height: 50px;
  width: 120px;
  padding: 0;
  background-color: #00a5de;
  border: none;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  outline: none;
  transition: all .15s, box-shadow .2s, transform .2s;
  &:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.48);
    transform: translateY(-2px);
  }
}
.more a.loading,
.more button.loading {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.48);
  color: #00a5de;
  animation: loadingAnimation 2s infinite .15s;
}
@keyframes loadingAnimation {
  0%   {
    transform: translateY(0);
  }
  25%  {
    transform: translateY(-5px);
  }
  50%  {
    transform: translateY(5px);
  }
  75%  {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}